/* General reset and box-sizing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.puppy-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.puppy-card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.puppy-card h3 {
  margin: 10px 0;
}

.puppy-card p {
  margin: 5px 0;
}

.puppy-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  max-width: 150px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

.player-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.player-details-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.player-details-image {
  width: 100%;
  height: auto;
  border-radius: 50px;
  margin-bottom: 20px;
}

.player-details-card h3 {
  margin-top: 10px;
}

.player-details-card p {
  margin: 5px 0;
}